* body {
    padding: 0;
    box-sizing: border-box;
  }
  
  /*PORTADA*/
  
 
 

  
  
  
  img {
    width: 100%;
    margin-right: 50px;
    box-shadow: 0px 3px 5px rgba(rgb(255, 255, 255), rgb(38, 39, 38), brgb(65, 65, 66) alpha);
  }
  
  /*CUENTA REGRESIVA*/
  
  @media (max-width: 730px) {
    .cuenta-regresiva {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1em;
      padding: 0.8em;
      margin-top: 8%;
  }
  .cr-time > span {
      font-size: 15px;
      font-weight: bold;
      color: #94A592;
      
  }
  .cr-desc {
      color: rgb(125, 125, 125);
      font-family: 'Sacramento', cursive;
      
  }
  .cr-block {
      background: #c9c9c92e;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      background-size: 80%;
  }
  .segundo{
width: 17%;
margin-top: -29%;
margin-left: 68%;
  }

  .parrafo1{
    text-align: center;
    font-family: "Rouge Script", cursiva;
       font-size: 31px;
       color: #7b7b7b;
       margin-top: -850%;
     
  }
  .imagenfamiliar{
    width: 90%;
    margin-left: 5%;
    margin-top: 8%;
  }
  .linea{
    color:#6B928F;
    width: 70%;
   margin-left: 15%;
   
  }
  .lineados{
    color:#6B928F;
    width: 70%;
   margin-left: 15%;
   margin-top: -10%;
   
  }
  .parrafo2{
    text-align: center;
    font-family: "Rouge Script", cursiva;
       font-size: 41px;
       color: #7b7b7b;
       margin-top: 21%;
  }
  .parroquia{
    width: 18%;
    margin-left: 40%;
    margin-top: -10%;
  }
  .pelota{
    width: 20%;
    margin-left: 40%;
  }
  .instagram{
    width: 15%;
    margin-left: 43%;
  }


  .parrafo3{
    text-align: center;
    font-family: "Rouge Script", cursiva;
       font-size: 33px;
       color: #7b7b7b;
       margin-top: 5%;
  }


  .click{
    padding: 1px 9px;
    font-size: 22px;
    font-weight: 1200;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #94A592;
    border-radius: 7px;
    box-shadow: 1px 1px 30px -5px rgb(232, 248, 207);
    cursor: pointer;
    margin-left: 34%;
    background-size: 120%;
    margin-top: 4%;
    background-image: url(./imagenes/grises.gif);
    background-size: 50%;
    font-family: "Alegreya", serif; 
  }
  .iglesia{
    width: 20%;
    margin-left: 40%;
  }
 

  
  
  .galeria{
    width: 9%;
  margin-left: 46%;
  }
 
  
 

  .mapa{
    width: 80%;
    height: 80%;
    margin-left: 16%;
  margin-top: 5%;

  }
 
  .btn_btn-primary{
    padding: 1px 9px;
    font-size: 24px;
    font-weight: 1200;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #6B928F;
    border-radius: 7px;
    box-shadow: 1px 1px 30px -5px rgb(232, 248, 207);
    cursor: pointer;
    margin-left: 34%;
    background-size: 120%;
    margin-top: 4%;
    background-image: url(./imagenes/grises.gif);
    background-size: 50%;
    font-family: 'Dancing Script', cursive;
  }
  

 .whatsap{
  width: 40%;
  margin-left: 30%;
 }
.icono3{
  text-align: center;
  font-family: "Rouge Script", cursiva;
     font-size: 30px;
     color: #7b7b7b;
     margin-top: 5%;
 }
 .icono{
  text-align: center;
    font-family:'Times New Roman', Times, serif; 
     font-size: 18px;
     color:#6B928F;
    
 }
 .icono2{
  text-align: center;
    font-family:'Times New Roman', Times, serif; 
     font-size: 18px;
     color:#6B928F;
  

 }

 .card{
margin: 14%;
 }
 .whatsap2{
  width: 40%;
  margin-left: 30%;
 }
 .sofi{
  width: 33%;
  margin-top: -50%;
  margin-left: 10%;
 }
 .lean{
  width: 33%;
  margin-top: -50%;
  margin-left: 5%;
 }
 .fondo4{
  margin-top: -15%;
 }
 

 .arrow span {
  margin-top: -5%;
  display: block;
  width: 14px;
  height: 14px;
  border-bottom: 5px solid rgb(179, 179, 179);
  border-right: 5px solid rgb(182, 210, 181);
  transform: rotate(45deg);
margin-left: 48%;
  animation: animate28797 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate28797 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
 .parrafo_deposito{
  text-align: center;
  font-family: "Rouge Script", cursiva;
     font-size: 30px;
     color: #7b7b7b;
     margin-top: 15%;

 }
.cajafiesta{
  margin-top: -5%;
}

.btn_btn-primary2{
  padding: 1px 9px;
  font-size: 22px;
  font-weight: 1200;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #94A592;
  border-radius: 7px;
  box-shadow: 1px 1px 30px -5px rgb(232, 248, 207);
  cursor: pointer;
  margin-left: 39%;
  background-size: 120%;
  margin-top: 4%;
  background-image: url(./imagenes/grises.gif);
  background-size: 50%;
  font-family: "Alegreya", serif; 
 
}

.parrafoimportante{
  text-align: center;
  font-family: "Rouge Script", cursiva;
     font-size: 30px;
     color: #7b7b7b;
     margin-top: 15%;
}


 .parrafo_esperamos{
  text-align: center;
    font-family: "Rouge Script", cursiva;
       font-size: 30px;
       color: #7b7b7b;
       margin-top: 18%;
  }
 


 .linea4{
  margin-top: -5%;
  color: #f3f3f3;
}




.tecla {
margin-top: -50%;
 margin-left: 50%;
}


.box__copyright {
  max-width: 1200px;
  padding: 18px 7px;
  text-align: center;
  margin-top: 125%;
  background-color: #ffffff;
  font-size: 100%;
}

.box__copyright p {
  margin-top: -10px;
  color: #c3b1b1;
  font-size: 12px;
  text-align: center;
}

.box__copyright a {
  text-decoration: none;
  color: #91a891;
}
.logo{
  width: 12%;
  margin-left: 19%;

}
.novios{
  width:50%;
  margin-left: 26%;
  margin-top: 10%;
}
.calendario{
  margin-top: 20%;
  width: 90%;
  margin-left: 5%;

}
.gif-final {
width: 9%;
margin-top: 10%;
margin-left: 48%;
}

}
 